@import url(../../reset.scss);

body {
    line-height: 1.5;
}

.container {
    margin: 0 auto;
    width: 640px;
}

.content {
    display: flex;
}

.news {
    img {
        width: 96px;
    }
    .wrap {
        display: flex;
        margin-bottom: 24px;
    }
}

.article {
    margin: 0 20px;
    h1, h2 {
        font-size: 20px;
        line-height: 1.2;
    }
}

.ad img {
    width: 216px;
}

.footer {
    padding: 48px;
    text-align: center;
}