@import url(../../reset.scss);
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');

$primary: #00FFA3;
$c-black: #15161D;
$c-white: #D1D1D1;
$hover-effect: #9094FF;
$border-gray: #E3E3E3;
$gradient-1: #050014;
$gradient-2: #01021E;
$card-shadow: #ababab;

@mixin button($bg, $color, $addr){
    position: relative;
    width: 185px;
    height: 48px;
    padding: 12px 24px;
    text-align: center;
    border-radius: 24px;
    border: none;
    outline: none;
    background-color: $bg;
    color: $color;
    font-size: 16px;
    font-family: Bruno Ace SC, serif;
    display: block;
    cursor: pointer;
    span {
        position: relative;
        margin-right: 28px;
        display: inline-block;
        &::after {
            position: absolute;
            top: -2px;
            right: -28px;
            content: '';
            background-image: url($addr);
            background-size: cover;
            width: 24px;
            height: 24px;
        }
    }
}

body {
    line-height: 1.5;
    font-family: Bruno Ace SC, serif;
    color: $c-black;
}

h2 {
    font-size: 64px;
}

.flex {
    display: flex;
}

.container {
    width: 1296px;
    margin: 0 auto;
}

.py-160 {
    padding: 160px 0;
}

.mb-4 {
    margin-bottom: 4px;
}

.mr-24 {
    margin-right: 24px;
}

.bg-black {
    background-color: #000;
}

.t-white {
    color: #fff;
}

.t-black {
    color: #000;
}

.fz-24 {
    font-size: 24px;
}

.nav {
    padding-top: 40px;
    color: $c-white;
    justify-content: space-between;
    li {
        max-width: 306px;
    }
}

.banner {
    padding: 72px 0;
    align-items: center;
    img {
        width: 636px;
        margin-right: 24px;
    }
    h1 {
        font-size: 128px;
        text-align: end;
        color: $primary;
    }
    h2 {
        color: #fff;
    }
    button {
        @include button($bg: #fff, $color: #000, $addr:'../../../image/week2/arrow_outward.png');
        margin-left: auto;
    }
}

.intro {
    background-image: url('../../../image/week2/background-img.png');
    background-size: cover;
    .container {
        justify-content: space-between;
    }
    h2 {
        margin-bottom: 36px;
    }
    p {
        margin-bottom: 32px;
    }
    .text {
        width: 526px;
        img {
            width: 32px;
            margin-right: 16px;
        }
    }
    .bg-img {
        width: 196px;
        height: 600px;
        &.sparkle {
            background-image: url('../../../image/week2/sparkle.png');
        }
        &.photographer {
            background-image: url('../../../image/week2/photographer.png');
        }
        &.selfie {
            background-image: url('../../../image/week2/people-2.png');
            width: 306px;
        }
    }
}

.about {
    align-items: center;
    justify-content: space-between;
    .trait {
        width: 636px;
        flex-wrap: wrap;
        gap: 24px;
        .card {
            width: 306px;
            padding: 16px;
            border: 1px solid $border-gray;
            box-shadow: 4px 4px 4px 0 rgba($card-shadow, .1);
        }
    }
    .text {
        width: 526px;
        h2 {
            margin-bottom: 36px;
        }
    }
}

.contact {
    background: linear-gradient(to bottom, $gradient-1 , rgba($gradient-2, .89));
    // background-color: $gradient-1;
    padding: 96px 0;
    .container {
        align-items: center;
        justify-content: space-between;
    }
    .text {
        align-items: center;
    }
    .arrow {
        width: 100px;
    }
    h2 {
        margin-right: 16px;
    }
    img.icon {
        margin-left: 20px;
        width: 162px;
        &:hover {
            filter: drop-shadow(0 0 10px $hover-effect);
        }
    }
}

.projects {
    .content {
        justify-content: space-between;
    }
    h2 {
        margin-left: 550px;
        margin-bottom: 16px;
    }
    p {
        margin-bottom: 76px;
    }
    .left {
        width: 416px;
    }
    .top {
        margin-bottom: 28px;
        img {
            width: 196px;
        }
        button {
            @include button($bg: #000, $color: #fff, $addr:'../../../image/week2/arrow_outward-white.png');
        }
    }
    .bottom {
        img {
            height: 306px;
        }
    }
}

footer {
    text-align: center;
    padding: 40px 0;
}