@import url(../../reset.scss);
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');

@mixin button($bg: #fff, $color: #000, $arrow_addr: 'https://github.com/hexschool/2022-web-layout-training/blob/main/2023week2/arrow_outward.png?raw=true') {
    position: relative;
    margin-right: 28px;
    width: 185px;
    height: 48px;
    padding: 12px 24px;
    text-align: center;
    border-radius: 24px;
    border: none;
    outline: none;
    background-color: $bg;
    color: $color;
    font-size: 16px;
    font-family: 'Bruno Ace SC', cursive;
    display: block;
    margin-left: auto;
    &:hover, &:active {
        cursor: pointer;
        outline: 2px $color solid;
        outline-offset: -5px;
    }
    span {
        position: relative;
        margin-right: 28px;
        display: inline-block;
    }
    span:after {
        position: absolute;
        top: -2px;
        right: -28px;
        content:'';
        background-image: url($arrow_addr);
        background-size: cover;
        width: 24px;
        height: 24px;
    }
}

$primary: #00FFA3;
$c-black: #15161D;
$c-white: #D1D1D1;
$hover-effect: #9094FF;
$border-gray: #E3E3E3;

body {
    line-height: 1.5;
    font-family: 'Bruno Ace SC', cursive;
    color: $c-black;
}

.flex {
    display: flex;
}

.container {
    margin: 0 auto;
    max-width: 1296px;
}

.bg-black {
    background-color: #000;
}
.t-white {
    color: #fff;
}
.fz-24 {
    font-size: 24px;
}
.p-16 {
    padding: 16px;
}
.pt-40 {
    padding-top: 40px;
}
.ptb-40 {
    padding: 40px 0;
}
.ptb-72 {
    padding: 72px 0;
}
.ptb-96 {
    padding: 96px 0;
}
.ptb-160 {
    padding: 160px 0;
}
.mb-4 {
    margin-bottom: 4px;
}
.mb-16 {
    margin-bottom: 16px;
}
.mb-28 {
    margin-bottom: 28px;
}
.mb-32 {
    margin-bottom: 32px;
}
.mb-36 {
    margin-bottom: 36px;
}
.mb-76 {
    margin-bottom: 76px;
}
.mr-16 {
    margin-right: 16px;
}
.mr-24 {
    margin-right: 24px;
}
.mr-113 {
    margin-right: 113px;
}
.mr-134 {
    margin-right: 134px;
}
.mtb-160 {
    margin: 160px 0;
}

h1 {
    color: $primary;
    font-size: 128px;
}

h2 {
    font-size: 64px;
}

h3, p.number {
    font-size: 20px;
}

header {
    .container {
        justify-content: space-between;
    }
    .nav {
        justify-content: space-between;
        color: $c-white;
        li {
            max-width: 306px;
            min-width: 196px;
            &:last-child {
                text-align: end;
            }
            &:hover {
                color: #fff;
            }
        }
    }
    .banner {
        img {
            width: 636px;
        }
        .text {
            width: 636px;
        }
        button {
            @include button($arrow_addr: '../../../image/week2/arrow_outward.png');
        }
    }
}

.intro {
    background-image: url('../../../image/week2/background-img.png');
    background-size: cover;
    .container {
        justify-content: space-between;
    }
    img {
        width: 196px;
    }
    .text {
        width: 526px;
        img {
            width: 32px;
        }
    }
}

.about {
    align-items: center;
    ul.trait {
        width: 636px;
        flex-wrap: wrap;
        gap: 24px;
        li {
            width: 306px;
            border: 1px solid $border-gray;
            box-shadow: 4px 4px 4px 0px rgba(171, 171, 171, .1);
        }
    }
    .text {
        width: 526px;
    }
}

.contact {
    background: linear-gradient(to bottom, #050014, rgba(#01021E, .89));
    .text {
        align-items: center;
        img {
            width: 100px;
        }
    }
    .icons {
        a:hover {
            filter: drop-shadow(0 0 10px $hover-effect);
        }
        img {
            width: 162px;
            
        }
    }
    
}

.projects {
    h2 {
        margin-left: 550px;
    }
    button {
        @include button($bg:#000, $color: #fff, $arrow_addr: '../../../image/week2/arrow_outward-white.png');
    }
    img:hover {
        transform: scale(1.2);
        transition: transform .5s ease;
    }
    a.overflow-hidden {
        overflow: hidden;
    }
    .top, .bottom {
        justify-content: space-between;
    }
    .left {
        a {
            width: 416px;
        }
    }
    .right {
        .top {
            a {
                width: 196px;
            }
            .text {
                width: 636px;
            }
        }
        .bottom {
            a {
                height: 306px;
            }
        }
    }
}

footer {
    .copyright {
        text-align: center;
    }
}