@import url(../reset.scss);

$code-bg: rgb(39, 40, 34);
$primary: #003049;
$secondary: #60709c;
$warning: #fa75af;

html {
    font-size: 8px;
}

body {
    font-size: 2rem;
}

h1 {
    font-size: 6rem;
    margin: 2rem 0;
}

section h2 {
    font-size: 4rem;
    border-bottom: 1px solid #000;
    margin-bottom: 2rem;
    padding-left: .5rem;
}

section h3 {
    font-size: 3rem;
    margin-bottom: 2rem;
    padding-left: .5rem;
}

.wrap-center {
    max-width: 70%;
    margin: 10px auto;
}

section.unit {
    margin-bottom: 3rem;;
}

/* Made showcase horizon center */
.showcase {
    // margin: 0 auto;
    // width: fit-content;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 8rem;
}

/* Add language label for code block */
.code {
    position: relative;
    &::before {
        position: absolute;
        background-color: $code-bg;
        color: #fff;
        font-size: 2rem;
        top: -2.6rem;
        left: 1rem;
        width: 15rem;
        padding: .3rem 1rem;
        border-radius: .5rem .5rem 0 0;
        border-bottom: 1px solid #000;
    }
    &.html::before {
        content: 'html';
    }
    &.css::before {
        content: 'css';
    }
}
pre.language {
    &* {
        margin-top: 4rem;
    }
}



/* Unit 1 */
.unit-01 {
    .bg {
        background-image: url(../../image/css-secrets/christoffer-engstrom-wc9avd2RaN0-unsplash.jpg);
        width: 300px;
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .box {
        width: 250px;
        padding: 1rem;
        margin: 0 auto;
        background-color: #fff;
        border: 2rem solid rgba(#fff, .5);
        background-clip: padding-box;
    }
}

/* Unit 2 */
.unit-02 {
    p {
        width: 300px;
        text-align: center;
        vertical-align: middle;
        padding: 2rem 0;
        background-color: $primary;
        color: #fff;
        &:hover {
            cursor: pointer;
        }
    }
    .box-shadow {
        .showcase {
            margin-bottom: 0;
        }
        p {
            margin: 7rem;
            &.box-shadow {
                &-1 {
                    box-shadow: 0 0 0 2rem $secondary;
                }
                &-2 {
                    box-shadow: 0 0 0 2rem $secondary, 0 0 0 4rem $warning;
                }
                &-3 {
                    box-shadow: 0 0 0 2rem $secondary, 0 0 0 4rem $warning, 0 .5rem  1rem 5rem rgba(#000, .5);
                }
                &-4 {
                    padding: 7rem;
                    width: calc(300px + 7rem);
                    box-shadow: inset 0 0 0 2rem $secondary, inset 0 0 0 4rem $warning, 0 .5rem  1rem .8rem rgba(#000, .5);
                }
            }
        }
    }
    .outline {
        p {
            padding: 6rem;
            border-radius: 1rem;
            &.sew {
                outline: 1rem dashed #fff;
                outline-offset: -1.5rem;
            }
            &.no-sew {
                outline: 1rem solid $warning;
                &.offset {
                    outline-offset: -2rem;
                }
            }
        }
    }
}