@import url(../reset.scss);
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;400;700&display=swap');

$primary: #003049;
$secondary: #EAE2B7;
$warning: #FCBF49;

$list-mr: .8rem;
$list-li-ml: 5rem;

/* 生馬路口圓體 */
@font-face {
    font-family: RawMarukoGothicCJKtc-Regular;
    src: url(https://cdn.jsdelivr.net/gh/max32002/maruko-gothic@1.001/webfont/raw/CJK%20TC/RawMarukoGothicCJKtc-Regular.woff2) format("woff2");
}

html {
    font-size: 8px;
}

body {
    font-family: 'Noto Sans TC', sans-serif;
    line-height: 2;
    font-size: 2.5rem;
    font-weight: 100;
    color: $primary;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.header {
    background: $primary;
    color: #fff;
}

h1 {
    font-family: RawMarukoGothicCJKtc-Regular, sans;
    font-size: 5rem;
}

h2 {
    font-size: 3rem;
    font-weight: 400;
}

.list-1 li {
    margin-left: $list-li-ml;
}

.list-1 a {
    text-decoration: none;
    color: $primary;
    background: linear-gradient(to bottom, #fff 70%, $secondary 70%);
}

.list-1 > li::before{
    content: "\25b6";
    margin-right: $list-mr;
    font-size: .8rem;
}

.list-2 > li::before{
    content: "\25c6";
    margin-right: $list-mr;
    font-size: .8rem;
}

.list-3 > li::before{
    content: "\25cf";
    margin-right: $list-mr;
    font-size: .8rem;
}